{% macro form_field(field) -%}
<div class="form-group {% if field.errors %}has-error{% endif %}">
  {{ field.label }}
  {{ field }}
  {% if field.errors %}
    <ul class="errors">
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{%- endmacro %}

<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap-theme.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<title>Hub | {% block title %}{% endblock %}</title>
</head>
<body>
  {% block navbar %}
  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="{{ url_for('index') }}">Hub</a>
      </div>
      <div class="nav navbar-nav navbar-right">
        {% if not logged_in %}
          <form class="navbar-form" method="post" action="{{ url_for('login') }}">
            {{ form.hidden_tag() }}
            {{ form_field(form.teamname) }}
            {{ form_field(form.password) }}
            <input type="submit" value="Login" id="login"></input>
          </form>
          <a href='{{url_for('register')}}'>Register new team!</a>
        {% else %}
          <a href='{{url_for('logout')}}' id="logout">Log Out.</a>
        {% endif %}
      </div>
    </div>
  </nav>
  {% endblock %}
  <div class="container">
  {% for category, message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ category }}">{{ message }}</div>
  {% endfor %}
  </div>
  <div class="container">
  {% block content %}
  {% endblock%}
  </div>
</body>
{% block scripts %}
{% endblock %}
</html>
