{% extends "layout/base.html" %}
{% block title %}Home{% endblock %} 
{% block content %}
<div>
<h4>Please allow the browser to access your location to see your team on the map below.</h4>
<div class="col-md-6">
<div id="map" style="height: 500px; width: 500px;"></div>
</div>
{% if user.is_authenticated() %}
<div class="col-md-6">
        {{ form_field(register_form.languages, help='Shift-click to select multiple values.') }}
         <button id="lang" class="btn btn-default select filter" type="button">Filter  By</button>
        <button id="lang" style="display: none" class="btn btn-success filter" type="button">Done!</button>
{% endif %}
       
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script src='https://cdn.firebase.com/js/client/1.1.1/firebase.js'></script>
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key={{ config.MAPS_API_KEY }}"></script>
<script src='{{ url_for('static', filename='js/firebase_interface.js') }}'></script>
<script src='{{ url_for('static', filename='js/map_interface.js') }}'></script>
<script src='{{ url_for('static', filename='js/chat.js') }}'></script>
{% endblock %}
