{% extends "layout/base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<form method="post" action="{{ url_for('register') }}" role="form">
  {{ form.hidden_tag() }}
  {{ form_field(form.teamname) }}
  {{ form_field(form.names, help='A comma-separated list of names.') }}
  {{ form_field(form.location, help='A description of your location (ex. Floor 2).') }}
  {{ form_field(form.languages, help='Shift-click to select multiple values.') }}
  {{ form_field(form.email) }}
  {{ form_field(form.password) }}
  {{ form_field(form.confirm) }}
  <button class="btn btn-primary" type="submit">Register</button>
</form>
{% endblock %}
